<div class="container">
<h3>User Details</h3>
<p>User fullname: <%= @user.fullname %> </p>
<p>User email: <%= @user.email %> </p>
<p>User user_id <%= @user.user_id %> </p>
<p>User age: <%= @user.age %> </p>
</div>